<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>

		<script type="text/javascript" src="js/fuzzy.js"></script>
		<script src="js/jquery-2.1.1.min.js"></script>
	</head>
	<body>

		<div class="header">
			<div class="brand">
				<img src="img/logo_mascota.png" height="70px">
			</div>
			<div class="menu">
				<ul>
				  <li><a href="home.html">FuzzyDB</a></li>
				  <li><a href="manual.html">Manual</a></li>
				  <li>
				  	<a href="ordenamientos.html">
				  		<span> Ordenamientos<span> 
				  		<span class="label label-warning">New</span>
				  	</a>
				  </li> 
				  <li>
				  	<a href="consola.html">
				  		<span> Constantes<span> 
				  		<span class="label label-warning">New</span>
				  	</a>
				  </li>
				</ul>
			</div>
		</div>
		<div class="blue-band"></div>
		<div class="content">
			<img src="img/fuzzydoDB.png" height="70px;">
		</div>
		<footer>
			<table align="center">
				<tr>
					<td align="center" style="padding-bottom: 10px;">
						<img src="img/cebolla.gif" height="40px;">
					</td>
					<td style="padding-left: 10px;">
						<p>
							<strong>FuzzyDB</strong> <br>
							Desarrollo de la extensión de datos difusos Tipo II <br>
							Proyecto desarrollado por: Stephanie Alibrandi, José Delgado y José Figueredo.
						</p>
					</td>
				</tr>
			</table>
		</footer>
	</body>
</html>