<!DOCTYPE html>
<div class="blue-band"></div>
<div class="content">
	<%= image_tag("fuzzydoDB.png", height: "70") %>
	<h2>Implementación de Datos Difusos Tipo II</h2>

	<h4>En esta aplicación web podrás probar ordenamientos de datos difusos tipo II,
		crear constantes y realizar consultas a la base de datos. Si eres nuevo acá,
		te recomendamos leer la sección <i>Manual</i> antes de empezar.
		<b>¡Bienvenido!</b>
	</h4>

</div>
